RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^((?!assets|js|layouts|styles|vendor).*)$ index.php?path=$1 [L,QSA]
RewriteRule ^((assets|js|layouts|styles|vendor).*)$ src/views/$1 [L,QSA]